[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CNVMetrics"]
	path = CNVMetrics
	url = https://github.com/krasnitzlab/cnvmetrics
[submodule "RAIDS"]
	path = RAIDS
	url = https://github.com/krasnitzlab/raids
